GOOGLE_API_KEY="YOUR_KEY"

#
# Tool API Keys
#

# AliYun DashScope API -> Image Generation, Editing, VL, etc.
DASHSCOPE_API_KEY="YOUR_KEY"

# Serper API Config -> Image Search
# 申请地址: https://serper.dev/
SERPER_API_KEY="YOUR_KEY"

SEGMIND_API_KEY="YOUR_KEY"